
.search-bar {
  background-color:#00d1b2;
  padding:20px 40px 30px;
  width:50%; 
  margin-bottom:10px;
}
.search-bar h3{
  color:#fff;
  font-size:24px;
  font-weight:700
}
.search-bar form{
  align-items:flex-start;
  flex-direction:column
}
.search-bar button{
  background-color:#fff;
}
.search-bar form input{
  margin-bottom:5px;
  width: 80%
}

