.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.coolerpad-container{
  display: flex;
}
.collerpad-list{
  overflow: auto;
  padding: 20px;
  margin: 10px;
  border-color: greenyellow;
  border-width: 1px;
  width: 30%;
  height: 400px;
}

.display-item{
  background-color: white;
  cursor: pointer;
}
.display-item-selected{
  background-color: greenyellow;
}

.direct-child>li {
  border: solid 1px plum;
  border-radius: 30px;
  padding: 4px;
  background-color:lightgreen;
}